# lint
public-hoist-pattern[]=*lint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=pretty-quick
public-hoist-pattern[]=husky

# other
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vft*
public-hoist-pattern[]=unplugin-vue-components
public-hoist-pattern[]=vft
public-hoist-pattern[]=vite-config-common
public-hoist-pattern[]=pinia-plugin-persistedstate

strict-peer-dependencies=false
registry=https://registry.npmmirror.com
#registry=https://registry.npmjs.org
git-checks=false
