public-hoist-pattern[]=vite
public-hoist-pattern[]=@vft*
public-hoist-pattern[]=unplugin-vue-components
public-hoist-pattern[]=vft
public-hoist-pattern[]=vite-config-common
public-hoist-pattern[]=pinia-plugin-persistedstate

# 如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败。
strict-peer-dependencies=false
#registry=https://registry.npmmirror.com
registry=https://registry.npmjs.org
# 不会检查当前的分支是否为发布分支、分支是否干净和与是否与远端保持最新。
git-checks=false
